<div
  class="block max-w-sm p-6 shadow border border-gray-200 rounded-lg bg-blue-700 text-center"
>
  <h5
    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center"
  >
    Divorcios
  </h5>
  <p class="font-normal text-white text-center">
    Here are the biggest enterprise technology acquisitions of 2021 so far, in
    reverse chronological order.
  </p>
  <a href="" class="font-normal text-white text-center">Cotizar</a>
</div>
